// Набросок стилей для "хлебных крошек". Это навигация на многостраничных сайтах. Как правило находится под шапкой сайтов
// Пример: Home / Page1 / Page2
.breadcrumb {
	margin: 15px 0;
	padding: 0;
	li {
		display: inline-block;
		vertical-align: baseline;
		&:not(:first-child) {
			&:before {
				content: '/';
				display: inline-block;
			}
		}
		&:last-child {
			a {
				cursor: default;
				text-decoration: none;
			}
		}
		
		a {
			font-size: 12px;
		}
	}
}
