// Заготовка стилей для основных input и textarea
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: $input_bg_color;
	border: 1px solid $input_border_color;
	padding: 6px 15px;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	font-family: $main_font_family;
	border-radius: 5px;
	transition: all .3s;
	// Смена стилей при взаимодействии с полями формы
	&:hover {
		border: 1px solid $input_hover_border_color;
		background-color: $input_hover_bg_color;;
	}
	&:focus {
		border: 1px solid $input_focus_border_color;
		background-color: $input_focus_bg_color;;
	}
	// Пример стилей для поля с ошибкой(необходимо добавлять класс)
	&.invalid {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Стили для атрибута placeholder
	@include placeholder {
		color: $input_placeholder_color;
	}
}

// Сброс стандартного отбраженя для input[type=search]. Работает только в хромоподобных браузерах и сафари
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Сброс стандартного отбраженя для input[type=number]. Работает только в хромоподобных браузерах и сафари
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Пример стилизации input checkbox и radio для современных браузеров.
// Если нужна поддержка более старых, то лучше делать через input:checked + label
input[type=checkbox],
input[type=radio] {
	padding: 0;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
	&:not(:disabled),
	&:not(:disabled) {
	    cursor: pointer;
	}
	&:before,
	&:before {
	    display: block;
	}
	&:disabled,
	&:disabled {
	    border-color: #ddd;
	}
}

input[type=radio] {
    border-radius: 50%;
	&:checked:before {
	    content: '';
	    width: 6px;
	    height: 6px;
	    top: 50%;
	    left: 50%;
	    margin-top: -3px;
	    margin-left: -3px;
	    display: block;
	    position: absolute;
	    border-radius: 50%;
	    background: #000;
	}
	&:disabled:checked:before {
	    background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
	    content: "\2714";
	    font-size: 12px;
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    line-height: 13px;
	    color: #000;
	}

	&:indeterminate:before {
	    content: "\f068";
	}
	&:disabled:checked:before,
	&:disabled:indeterminate:before {
	    color: #aaa;
	}
}

// Стили для тэгов button и псевдо кнопок для тэгов input и а
.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 16px;
	font-weight: 300;
	padding: 5px 15px 7px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 5px;
	transition: all .3s;
	text-decoration: none;
	&:hover {
		background-color: #fff;
		color: #000;
		text-decoration: none;
	}
	&:focus,&:active {
		background-color: transparentize(#fff, .2);
		color: #000;
	}
	// Создает через mixin классы модификаторы для смены внешнего вида кнопок
	// например класс btn_primary
	// Для задания цветов смотрим mixin.scss
	// Либо комментируем и пишем все ручками :)
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;
			&:hover {
				// Затемняем основной цвет фона при наведении
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}
			&:focus,&:active {
				// Осветляем основной цвет фона при нажатии и фокусе
				background-color: lighten($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}	
}
