/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header {
	background-color: #ccc;
	padding: 10px 0;
	@extend %clear_a;
	// Обертка логотипа
	&__logo {
		background-color: #ddd;
		float: left;
		width: 150px;
	}
	// "Липкая" шапка
	&__stiky {
		// Позиционируем
		position: fixed;
		// Прибиваем вверх и влево
		top: 0;
		left: 0;
		// Растягиваем на всю ширину
		width: 100%;
	}
}
