// Обертка для всего контента страницы кроме подвала
// Данная конструкция используется если нужно сделать подвал прижатый к нижней части экрана когда на странице мало контента
// Использую в любой верстке
.wrapper {
	font-size: $main_font_size;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    // Переменная $footer_height задется в файле с переменными, если поставить в auto подвал будет находиться под блоком .wrapper
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
}

// Стили для блока вывешенного по центру
.container_center {
	max-width: $container_width;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	// Свойство необходимо если нужен прижатый к нижней части экрана подвал
	padding-bottom: $footer_height;
	@extend %clear_a;
}
